
/* Responsiveness */

/* Desktop screens */



/* ipad screen size */
@media (max-width: 768px) {
    body {
        overflow-x: hidden !important;
    }

    .nav__menucontainer {
        position: relative;
        bottom: -20px;
    }

    .nav__menu {
        font-size: 0.75rem;
    }

    .free a {
        font-size: 12px;
        padding: 3px;
        font-weight: bold;
    }
    .nav__item {
        margin-right: 1.7rem;
    }

    li.nav__item.float-right {
        margin-top: 2rem;
        padding-left: 0;
    }

    li.nav__item.float-right > ul {
        padding-left: 0;
        position: relative;
        bottom: 15px;
    }

    li.nav__item.float-right > ul > li {
        margin-right: 0.7rem;
    }

    .about {
        height: 260px;
        padding: 0px 0px 20px 0px;
    }

    div.row > div.about.col-lg-12.col-sm-12 > ul {
        grid-template-columns: auto auto auto auto;
        margin: 0;
        padding: 0;
    }

    div.row > div.about.col-lg-12.col-sm-12 > ul > li.btn {
        padding: 5px;
        font-size: 13px;
        width: 170px;
        margin: 12px;
    }

    div.row > div.about.col-lg-12.col-sm-12 > h2 {
        padding-left: 15px;
        margin-bottom: 18px;
    }

    .latest {
        padding: 0px 0px 20px 0px;
    }

    .latestheader > h2 {
        padding-left: 5px;
    }

    hr {
        width: 99%;
    }

    div.bottomheader > div.col-lg-12.col-sm-12 > h3 {
        font-size: 2.4rem;
        position: relative;
        top: 4rem;
        left: 1rem;
    }

    .col-sm-3 {
        max-width: 30%;
    }
}

/* ----- smaller screen sizes ----- */
@media (max-width: 520px) {
    body {
        overflow-x: hidden !important;
    }

    nav {
        color: #000;
        max-width: 520px !important;
        background: #efefef;
    }

    .navbar > a {
        position: relative;
        right: 25px;
    }

    .nav__hamburger {
        /* making the hamburger menu icon visible on smaller screen sizes */
        display: flex;
        opacity: 1;
    }

    .nav__menu {
        /* move menu offscreen */
        opacity: 0;
        position: fixed;
        visibility: none;
        top: -1000px;
        display: flex;
        flex-direction: column;
        color: #25310c;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.19);
        border: 2px solid rgba(255, 255, 255, 0.2); /* part of glass morphism effect */
        border-radius: 2rem 0 2rem 2rem;
        background: rgba(255, 255, 255, 1);
    }

    /* ucomment line below to show nav list on hover. */
    /*   .nav__listcontainer:hover .nav__menu, */
    .nav__listcontainer:focus .nav__menu,
    .nav__listcontainer:focus-within .nav__menu {
        position: absolute;
        visibility: visible;
        opacity: 1;
        top: 2rem;
        right: 1.5rem;
    }

    /*   if the browser supports backdrop-filter property, 
    then add it (for the glass morphism effect) */
    @supports (backdrop-filter: blur(10px)) {
        /* uncomment the line below to activate on hover. */
        /*     .nav__listcontainer:hover .nav__menu, */
        .nav__listcontainer:focus .nav__menu,
        .nav__listcontainer:focus-within .nav__menu {
            background: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(10px);
        }
    }

    .nav__item {
        margin-right: 0;
        padding: 0.5rem 1rem;
    }

    .nav__link:hover,
    .nav__link:focus {
        opacity: 0.8;
        color: #121212;
    }

    .nav__listcontainer:focus .nav__hamburger,
    .nav__listcontainer:focus-within .nav__hamburger {
        opacity: 0;
        z-index: -1;
    }

    .nav__listcontainer:focus + .nav__hamburgerclose,
    .nav__listcontainer:focus-within + .nav__hamburgerclose {
        display: flex;
        opacity: 1;
        z-index: 1;
    }

    li.nav__item > ul.float-right > li {
        position: relative;
        right: 130px;
    }

    #hamburger {
        margin-bottom: 20px;
        font-size: 16px;
        margin-right: 20px;
    }

    #hamburger:hover {
        text-decoration: underline;
    }

    .about {
        height: 150px;
    }

    .about > h2 {
        font-size: 18px;
    }

    .about > p {
        padding: 3px;
        margin-left: 13px;
    }

    .latestheader > h2 {
        font-size: 1.3rem;
    }

    .latest {
        padding: 0px 12px 20px 12px;
        position: relative;
    }

    div.blogs > div.card > div.card-body > h5.card-title {
        font-size: 17px;
    }

    .card-body .btn2 {
        font-size: 10px;
        padding: 10px 10px;
    }

    .card-body > h5.card-title {
        font-size: 13px !important;
    }

    .card-body > small {
        font-size: 11px;
        display: none;
    }

    footer {
        background: #ddd;
    }

    footer > div > ul {
        padding: 0;
        width: 100%;
        font-size: 10px;
    }

    footer > div > ul > li > a {
        font-weight: 300;
    }

}
