body {
    overflow-x: hidden;
    font-family:'Segoe UI';
}
nav {
    background-color: #A9BA9D;
}
.navbar-brand {
    font-weight: 900; 
    color: rgb(80, 61, 14)
}
a {
    color: #000;
    font-weight: bold;
}
nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}
.nav-right {
    padding-top: 10px;
}
.dot {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}
form .container {
    position: relative;
    bottom: 30px;
}
.button {
    background-color: #4B6F44;
    border-radius: 5px;
}
button {
    border-radius: 5px;
}
.button:hover {
    background-color: #ACE1AF;

}
.posts, .profile, .bio {
    font-weight: 800;
}
.avatar-details {
    list-style-type: none;
    position: relative;
    right: 23px;
}
img {
    position: relative;
    left: 35px;
}
a:hover {
    color: #000;
    text-decoration: none;
}
footer {
    background-color: #A9BA9D;
}
