*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family:'Segoe UI';
}

.main {
    margin-top: 113px;
}

nav {
    background-color: #fff;
    padding-bottom: 40px;
}

nav a {
    color: #000;
}

nav > a.float-left {
    padding-bottom: 10px;
}

nav ul {
    margin: 0 auto;
}

.navbar p {
    position: absolute;
    margin-left: 43px;
    margin-top: -15px !important;
    font-family: "Dancing Script" !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #F57E20;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 45px;
    font-weight: 800;
}

.nav-select {
    /* -webkit-appearance: none; 
    appearance: none; */
    width: 60px;
    border: 0px;
    outline: 0px;
    background-color: inherit;
    font-weight: bolder;
}

nav > .float-right > ul > li.btn {
    border-radius: 20px;
    background: #f27a1f;
    color: #fff;
}

.topheader{
    background: #f27a1f;
    height: 250px;
}

.topheader h3, .topheader p {
    position: relative;
    top: 25%;
    left: 5%;
    font-weight: bolder;
    color: #fff;
}

.topheader h3 {
    font-size: 3rem;
}

.nav-select {
    color: black;
    width: 140px;
    font-size: 16px;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

form .container {
    position: relative;
    bottom: 30px;
}

.button, .btn {
    background-color: #7fc242;
    border-radius: 5px;
}

button {
    border-radius: 5px;
}

.button:hover {
    background-color: #4CAF50;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.avatar-details {
    list-style-type: none;
    position: relative;
    right: 25px;
}

.featured-blogs {
    font-size: 22px;
    height: 260px;
    margin-top: 110px;
}

.carousel {
    padding: 30px; 
    margin: 0;
}

/* .latest {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 10px;
} */

.card {
    margin: 10px 15px; 
    padding: 0rem; 
    width: 441px;
}

.nav-right select {
    color: black;
    width: 63px;
    font-size: 16px;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.nav-select::before {
color: rgba(255, 255, 255, 0.5);
background-color: rgba(255, 255, 255, 0.1);
pointer-events: none;
}

.nav-select:hover::before {
color: rgba(255, 255, 255, 0.6);
background-color: rgba(255, 255, 255, 0.2);
}

.nav-select option {
    padding: 20px;
    text-align: justify;
} 


/* Footer */
footer {
    /* background-color: #fffdd0; */
    background: #fff;
    position: fixed;
}

.footer2 {
    margin-top: 5px;
    /* background: #ffdeb2; */
    background-color: #f27a1f;
    height: 300px;
    /* background-color: #ee8a08; */
}

.socials {
    margin-left: 20px;
    margin-bottom: 10px;
}

.socials .social {
    padding: 5px;
    color: rgb(66, 57, 57);
}

.links ul {
    display: inline-block;
}

.links ul li {
    display: inline;
    list-style: none;
    padding: 5px;
    position: relative;
    right: 24px;
    font-size: 14px;
}

.links ul li a {
    text-decoration: none;
    color: #000;
}

.links ul li a:hover {
    cursor: pointer;
    color: #ee8a08;
    text-decoration: underline;
}

.newsletter {
    background-color: #fff;
    padding: 35px 40px;
    box-sizing: border-box;
    margin: 20px auto;
    display: table;
    border: 1px solid #ddd;
    border-radius: 12px;
}
.newsletter button {
    width: 29%;
    border: none;
    background-color: #7fc242;
    padding: 5px;
    height: 38px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    float: right;
}
.newsletter input[type="email"] {
    width: 70%;
    height: 38px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.newsletter h3 {
    font-size: 30px;
    /* color: #ee8a08; */
}

.newsletter p {
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 66px;
    left: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.8);
    color: #efefef;
    z-index: 5;
    padding: 0.8rem;
}

.nav__menucontainer {
    position: relative;
}

.nav__hamburger {
    color: inherit;
    min-width: 32px;
    min-height: 25px;
    transition: opacity 80ms linear;
    /* hiding the hamburger icon on large screen sizes */
    display: none;
    opacity: 0;
}

.nav__hamburgerclose {
    color: inherit;
    position: absolute;
    top: 0;
    min-width: 32px;
    min-height: 25px;
    transition: opacity 150ms linear;
    /*   hiding the close icon and... */
    display: none;
    opacity: 0;
    z-index: -1; /* pushing it behind the hamburger icon so that hamburger icon can be clicked */
}

.nav__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.95rem;
    font-weight: 500;
}

.nav__item {
    margin-right: 1rem;
}

.nav__link {
    color: inherit;
    text-decoration: none;
    width: 100%;
}

.nav__link:hover,
.nav__link:focus-visible {
    /* box-shadow: 0 4px 0 -1px #a2e718; */
    color: #fff;
    text-decoration: underline;
}


/* Responsiveness */
/* ----- smaller screen sizes ----- */
@media (max-width: 520px) {
    .nav__hamburger {
      /* making the hamburger menu icon visible on smaller screen sizes */
        display: flex;
        opacity: 1;
    }

    .nav__menu {
      /* move menu offscreen */
        opacity: 0;
        position: fixed;
        visibility: none;
        top: -1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #25310c;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.19);
        border: 2px solid rgba(255, 255, 255, 0.2); /* part of glass morphism effect */
        border-radius: 2rem 0 2rem 2rem;
        background: rgba(255, 255, 255, 1);
    }

    /* ucomment line below to show nav list on hover. */
    /*   .nav__listcontainer:hover .nav__menu, */
    .nav__listcontainer:focus .nav__menu,
    .nav__listcontainer:focus-within .nav__menu {
        position: absolute;
        visibility: visible;
        opacity: 1;
        top: 2rem;
        right: 1.5rem;
    }

    /*   if the browser supports backdrop-filter property, 
    then add it (for the glass morphism effect) */
    @supports (backdrop-filter: blur(10px)) {
      /* uncomment the line below to activate on hover. */
      /*     .nav__listcontainer:hover .nav__menu, */
    .nav__listcontainer:focus .nav__menu,
    .nav__listcontainer:focus-within .nav__menu {
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        }
    }

    .nav__item {
        margin-right: 0;
        padding: 0.5rem 1.5rem;
    }

    .nav__link:hover,
    .nav__link:focus {
        opacity: 0.8;
        color: #121212;
    }

    /*  uncomment the line below to activate on hover. */
    /* NOTE: Hover is not recommended, it will have side effects on this */
    /*   .nav__listcontainer:hover .nav__hamburger, */
    .nav__listcontainer:focus .nav__hamburger,
    .nav__listcontainer:focus-within .nav__hamburger {
        opacity: 0;
        z-index: -1;
    }

    /* uncomment the line below to activate on hover. */
    /* NOTE: Hover is not recommended, it will have side effects on this */
    /*   .nav__listcontainer:hover + .nav__hamburgerclose, */
    .nav__listcontainer:focus + .nav__hamburgerclose,
    .nav__listcontainer:focus-within + .nav__hamburgerclose {
        display: flex;
        opacity: 1;
        z-index: 1;
    }

    #hamburger:hover {
        color: #ddd;
        text-decoration: underline;
    }

    footer > div.container {
        font-size: 14px;
        padding: 0;
        margin: 0;
    }
    .footer2 {
        height: 500px;
        padding: 10px;
        margin-bottom: 40px;
    }

    .socials {
        margin-bottom: 0;
    }

    .newsletter {
        padding: 20px;
        margin: 0;
    }
}

@media (max-width: 767px) {
    .featured-blogs {
        margin-top: 115px;
        margin-bottom: 130px;
    }

    .card {
        /* width: 43%; */
        width: 90%;
    }

    .newsletter {
        padding: 30px 15px;
    }

    .newsletter button{
    font-size: 14px;
    }
}
